.position_body{
	
	width: 1300px;
	height: 880px;
	margin: 0 auto;
	margin-top: 20px;

}
.position_body input{
	
	margin: 20px;
	margin-left: 55px;
}
.position_ulList{
	margin: 0;
	padding: 0;
	width: 1300px;
	overflow: hidden;
	list-style-type: none;
	display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
.position_ulList li{
	background-color: white;
	display: inline-block;
	width: 270px;
	height: 150px;
	/*border: 1px solid red;*/
	margin: 20px;
}
.position_listdiv img{
	width: 100px;
	height: 100px;
	border: 1px solid #f5eded;
}
.position_listdiv a{
	text-decoration: none;
	color: black;
}
.position_listdiv h4:hover{
	color: #35e8d0;
}
.position_listdiv a:last-child:hover{
	color: #35e8d0;
}
.position_innerlistdiv{
	
	display: inline-block;
	width: 150px;
	height: 100px;
	vertical-align: bottom;
	text-align: right;

}
.position_innerlistdiv span{
	display: inline-block;
	width: 2px;
	height: 12px;
	background-color: #bfb4b4;
}
.position_innerlistdivFoot{
	margin-top: 10px;
	width: 100%;
	height: 40px;
	text-align: center;
	border-top: 1px dotted #f5eded;
}
.position_more{
	margin: 0 auto;
	width: 1200px;
	text-align: center;
	height: 40px;
	background-color: white;
}
.position_more a{
	display: inline-block;
	width: 30px;
	margin-top: 5px;
	margin-left: 30px;
	text-decoration: none;
	color: grey;
	font-size: 20px;
}
.position_more a:first-child{
	border: 1px solid #e8dfdf;
}
.position_more a:last-child{
	border: 1px solid #e8dfdf;
}
.position_more a:hover{
	background-color: #35e8d0;
	color: white;
}
